
/* Reference to : https://doc.qt.io/qt-6/stylesheet-reference.html#list-of-properties */
#Background, #MenuBalk {
    background-color: #1a1a1a;
}

#AddButton {
    background-color: #438eff;
    border-radius: 20px;
}

#AddButton:hover {
    background-color: #3b7dd8;
}


#Balk_Boven, #NameLabel  {
    background-color: #2c2c2c;
}

QPushButton:hover {
    background-color: #4b4b4b;
    border-radius: 20px;
}

QPushButton {
    background-color: transparent;
    border-radius: 20px;
}